body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
}

.events-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.event-card {
    width: 400px;
    max-width: 100%;

    padding: 20px;
    margin-top: 30px;
    box-sizing: border-box;

    border: 2px solid #7a3e2b;
    border-radius: 8px;
    
    background-color: #fffaf0;
    color: #3d2b1f;
    line-height: 1.5;
}

.view-details-button {
    background-color: #7a3e2b;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-details-button:hover {
    background-color: #5c2e20;
}

